golf/CNN/cnn_gru_model.pth

golf/Timesformer_finetune/timesformer_finetuned.pth

golf/Timesformer_finetune/checkpoint.pth

golf/Timesformer_finetune/epochs

golf/Timesformer_finetune/finetuned_model

golf/Timesformer_finetune/best_timesformer.pth

golf/fusion/embedding_data/stgcnpp/*
!golf/fusion/embedding_data/stgcnpp/

golf/fusion/embedding_data/timesformer/*
!golf/fusion/embedding_data/timesformer/

golf/fusion/work_dirs/my_stgcnpp

golf/fusion/fusion_ckpt/fusion_mlp_best.pth

golf/fusion/embedding_data/timesformer/*
!golf/fusion/embedding_data/timesformer/

golf/fusion/embbeding_data/timesformer/*
!golf/fusion/embbeding_data/timesformer/

golf/fusion/fusion_images

golf/3Dcam/output

golf/GOLF_pipeline/.venv/
golf/GOLF_pipeline/summary

golf/3Dcam/.venv/
golf/3Dcam/S3_connect/realsense_pack_and_upload.config.json
golf/3Dcam/realsense_py/output/
