golf/CNN/cnn_gru_model.pth

golf/Timesformer_finetune/timesformer_finetuned.pth

golf/Timesformer_finetune/checkpoint.pth

golf/fusion/embedding_data/stgcnpp/*
!golf/fusion/embedding_data/stgcnpp/

golf/fusion/embedding_data/timesformer/*
!golf/fusion/embedding_data/timesformer/

golf/fusion/work_dirs/my_stgcnpp

golf/fusion/fusion_ckpt/fusion_mlp_best.pth

golf/fusion/embedding_data/timesformer/*
!golf/fusion/embedding_data/timesformer/

golf/fusion/embbeding_data/timesformer/*
!golf/fusion/embbeding_data/timesformer/

golf/fusion/fusion_images/*
golf/fusion/fusion_images/

